<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <resultMap id="userMap" type="com.bean.User">
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
    </resultMap>
    <select id="login" resultMap="userMap">
        select * from user where username=#{username} and password =#{password};
    </select>
    <insert id="register">
        insert  into user values(#{username},#{password});
    </insert>
</mapper>